.css-heg063-MuiTabs-flexContainer {
  justify-content: space-around;
}

.about-box {
  margin-left: auto;
  margin-right: auto;
  padding: 7rem 1rem 7rem 1rem;
  height: 100vh;
}

.text {
  text-align: left;
  align-items: center;
  font-size: large;
}

@media screen and (max-width: 800px) {
  .about-box {
    height: 100%;
  }

}