.background-section {
  padding: 2rem 1rem 2rem 1rem;
}

.background-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.background-title {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.background-title h1 {
  grid-column: 2;
}

.content-image {
  display: grid;
  align-items: center;
}

.content-image img {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}


.content-text {
  height: 100%;
  letter-spacing: 0.5px;
  font-size: large;
  
}

@media screen and (max-width: 800px) {
  .background-content {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }

  .background-section {
    padding: 1rem;
  }

  .content-image img {
    width: 100%;
    min-width: none;
  }
}

