
.background-content {
  display: grid;
  grid-template-columns: auto auto;
}

.content-image img {
  width: 90%;
  min-width: 430px;
}


.content-text {
  height: 100%;
  letter-spacing: 0.5px;
  font-size: large;
  
}

@media screen and (max-width: 800px) {
  .background-content {
    grid-template-columns: auto;
  }

  .background-section {
    padding: 1rem;
  }

  .content-image img {
    width: 90%;
    min-width: none;
  }
}

