.background-section {

}

.background-title {

}

.background-content {
  display: grid;
  grid-template-columns: auto auto;
}

.content-image img {
  width: 90%;
}


.content-text {
  height: 100%;
  letter-spacing: 0.5px;
  font-size: large;
  
}

@media screen and (max-width: 800px) {
  .background-content {
    grid-template-columns: auto;
  }
}

