#contact-section {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 1rem;
  align-items: center;
  height: 100vh;
}

.contact-form {
  padding: 1rem;
}

.contact-grid {
  display: grid;
  gap: 3rem;
  align-items: center;
}

.contact-text {
  text-align: center;
}

@media screen and (max-width: 800px) {
  #contact-section {
    grid-template-columns: 1fr;
  }
}