#contact-section {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 3rem;
  gap: 1rem;
  align-items: center;
  height: 100vh;
  background-color: #6677CC;
}

.contact-form {
  padding: 4rem 2rem 4rem 2rem;
  background-color: white;
  border-radius: 5%;
}

.contact-grid {
  display: grid;
  gap: 3rem;
  align-items: center;
}

.contact-name {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.contact-text {
  text-align: left;
  color: aliceblue;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.contact-text h1 {
  font-size: 50px;
}

.contact-text p {
  font-size: 24px;
}

.social-link-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.social-link-contact img {
  width: 10%;
  height: auto;
  padding: 1rem;
}

.social-link-contact img:hover {
  cursor: pointer;
}

#linkedin-contact {
  width: 9%;
}

@media screen and (max-width: 800px) {
  #contact-section {
    grid-template-columns: 1fr;
    height: auto;
  }

  .contact-text {
    text-align: center;
  }

  .contact-name {
    display: flex;
    justify-content: space-between;
  }

  .contact-text h1 {
    font-size: 40px;
  }
  
  .contact-text p {
    font-size: 20px;
  }

  .contact-form {
    padding: 1rem;
    border-radius: 3%;
  }

  .social-link-contact img {
    width: 15%
  }
}