.footer {
  background-color: #333;
  color: white;
  text-align: center;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  height: auto;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.social-link img {
  width: 8%;
  height: auto;
  padding: 1rem;
}

.social-link img:hover {
  cursor: pointer;
}

#linkedin {
  width: 7%;
}

@media screen and (max-width: 800px) {
  .footer {
    grid-template-columns: auto;
  }
  
  .social-link {
    display: none;
  }
}
