.main {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  background-position: center;
  background-size: cover;
}

.container {
  position: relative;
}

#background-image {
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 30%;
  width: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: left;
}

.text {
  font-size: 30px !important
}

.cursor {
  animation: blink 1s infinite; /* Blink animation */
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#background-image {
  filter: brightness(60%);
}

@media screen and (max-width: 800px) {
  .banner-text {
    font-size: small;
    width: 60%;
    left: 40%;
  }
}
