#project-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  gap: 1.5rem;
  width: 45%;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

@media screen and (max-width: 800px) {
  #project-cards {
    grid-template-columns: 1fr;
    width: auto;
    gap: 2rem;
  }
}

