#skill-page {
  display: grid;
  grid-template-columns: 50% 50%;
}

.skill-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.item {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1rem;
}

.item div {
  text-align: center;
  align-items: center;
  border: 3px solid rgb(198, 196, 196);
  border-radius: 20px;
  background-color: rgba(244, 246, 247, 0.746);
  color: rgb(0, 0, 0);
  font-size: larger;
}

.skill-image {
  display: grid;
  align-items: center;
  padding: 1rem;
}

.skill-image img {
  margin-right: auto;
  margin-left: auto;
  object-fit: cover;
  width:50%;
}

@media screen and (max-width: 900px) {
  #skill-page {
    grid-template-columns: auto;
    gap: 2rem;
  }

  .item {
    display: grid;
    grid-template-columns: auto auto;
  }

  .skill-image {
    margin-top: 2rem;
  }
}