#skill-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.skill-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.skill-section-hidden {
  display: none;
  text-align: center;
}

.skills-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.item {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1rem;
  width: 70%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.item div {
  text-align: center;
  align-items: center;
  border: 3px solid rgb(198, 196, 196);
  border-radius: 20px;
  background-color: rgba(244, 246, 247, 0.746);
  color: rgb(0, 0, 0);
  font-size: larger;
}

.skill-image {
  display: grid;
  align-items: center;
  padding: 1rem;
}

.skill-image img {
  margin-right: auto;
  margin-left: auto;
  object-fit: cover;
  width:70%;
}

.skills h1 {
  text-align: left;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 850px) {
  #skill-page {
    grid-template-columns: auto;
    gap: 2rem;
  }

  .skill-image {
    margin-top: 2rem;
  }

  .skill-section {
    display: none;
  }
  
  .skill-section-hidden {
    display: grid;
  }
}