#skill-page {
  display: grid;
  grid-template-columns: 50% 50%;
}

.skill-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.item {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1rem;
}

.item div {
  text-align: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.774);
  color: aliceblue;
  font-size: larger;
}

.skill-image {
  display: grid;
  align-items: center;
}

.skill-image img {
  margin-right: auto;
  margin-left: auto;
  object-fit: cover;
  width:70%;
}

@media screen and (max-width: 800px) {
  #skill-page {
    grid-template-columns: auto;
    gap: 2rem;
  }
}